@import './base/bootstrap-extended/include'; // Bootstrap includes
@import './base/components/include'; // Components includes

// --- file input button for dark layout ----- //
.dark-layout {
    .form-control {
        &[type='file'] {
            &::file-selector-button {
                background-color: $theme-dark-input-bg;
            }
        }
    }
}

/*Addendum*/
#products-header label.btn-icon{
    margin-bottom:0px;
}

#products-header .btn-group > .btn:not(:first-child):nth-child(2){
    border-top-left-radius:0.358rem;
    border-bottom-left-radius:0.358rem;
}

#products-header .btn-group.dropdown-sort{
    margin-right:.5rem;
}